.episode-section {
  background-color: rgb(230, 231, 255);
}

.episode-section::-webkit-scrollbar {
  width: 10px;
}

.episode-section::-webkit-scrollbar-thumb {
  background-color: rgb(29, 39, 117);
  border-radius: 10px;
}

.episode-section::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.episode-section::-webkit-scrollbar-thumb:active {
  background-color: rgb(29, 39, 117)333;
}

.episode-section::-webkit-scrollbar-track {
  background-color: #ccc;   
  border-radius: 5px;
}

.character-episodes-container {
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(198, 200, 230);
}

.character-episodes-container h2 {
  margin-bottom: 10px;
}

.episode-list {
  list-style: none;
  padding: 0;
}

.episode-item {
  margin-bottom: 20px;
}

.episode-info {
  margin-bottom: 5px;
}

.character-card.selected {
  border: 3px solid rgb(124, 131, 236);
  background-color: rgb(124, 131, 236);
}

.character-selected {
  color: rgb(29, 39, 117);
}

.characters-shared {
  color: rgb(71, 82, 233);
}
