body {
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  background-color: #f5f5f5;
}

.characters-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: stretch;
  margin-bottom: 220px;
}

.character-list-container.reduced-height {
  max-height: 53vh;
  margin-top: 0px !important;
}

.character-list-container {
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin-top: 20px !important;
  box-sizing: border-box;
  max-height: 95vh; 
  overflow-y: auto;
}

.character-list-container::-webkit-scrollbar {
  width: 10px;
}

.character-list-container::-webkit-scrollbar-thumb {
  background-color: rgb(29, 39, 117);
  border-radius: 10px;
}

.character-list-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.character-list-container::-webkit-scrollbar-thumb:active {
  background-color: rgb(29, 39, 117)333;
}

.character-list-container::-webkit-scrollbar-track {
  background-color: #ccc;   
  border-radius: 5px;
}

.episodes-container {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
}

.episode-section {
  width: 33.33%;
  padding-left: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  height: 40vh;
  overflow-y: auto;
}

.character-card {
  width: 48%;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.character-card:hover {
  transform: translateY(-5px);
}

.character-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.character-info {
  padding: 10px;
}

.character-name {
  font-size: 18px;
  font-weight: bold;
}

.character-species {
  margin-top: 4px;
  font-size: 14px;
}

.character-status {
  margin-top: 4px;
  font-size: 14px;
}

.status-alive {
  color: rgb(0, 119, 0);
}

.status-dead {
  color: rgb(207, 0, 0);
}

.status-unknown {
  color: rgb(26, 26, 26);
}
